.signin-link {
    position: absolute;
    color: white;
    background-color: #E50914;
    padding: 10px 20px;
    border: #E50914;
    border-radius: 3px;
    text-decoration: none;
    right: 3%;
    top: 2%;
}

.logo-nav {
    display: flex;
}

.header-logo{
    background-image: url("https://fontmeme.com/permalink/190502/a1f8e1379d4d8d9fa20068c6d47664bc.png") 10px 10px no-repeat;
    position: absolute;
    left: 3%;
    top: 2%;
}

.greeting-offer {
    color: white;
    display: flex;
    justify-content: center;
    top: 30%;
}

.navbar-group {
    width: 100vw;
    height: 70px;
    position: fixed;
    background: transparent;
    color: white;
    z-index: 1;
    transition: background-color ease 2s;
}


.nav-button-ul {
    list-style-type: none;
    display: inline;
}

.nav-logo-container {
    position: relative;
    width: 120px;
    height: 50px;
    top: 12px;
    left: 42px;
}

.nav-button-container {
    position: absolute;
    left: 200px;
    top: 27px;
}

.nav-button {
    display: inline;
    font-size: 14px;
    font-weight: lighter;
    margin: 0px 10px;
}

.nav-button-link {
    color: lightgray;
    text-decoration: none;
}

.nav-user-dropdown {
    color: lightgrey;
    position: absolute;
    top: 15px;
    right: 50px;
    height: 40px;
    display: inline-block;
}

.search-bar {
    background: black;
    position: absolute;
    right: 190px;
    top: 20px;
    border: 1px solid white;
    padding: 5px;
}

/* .search-bar-wrapper {
    background: black;
    position: absolute;
    right: 190px;
    top: 22px; 
    border: 1px solid white;
    padding: 5px;
} */

.search-bar-input{
    border: none;
    position: relative;
    background: black;    
    font-size: 14px;
    color: white;
}

.user-avatar{
    height: 40px;
    width: 40px;    
}

.dropdown{
    position: absolute;
    z-index: 1;
    right: 0px;
    display: none;
    font-size: 14px;
    top: 40px;
}

.dropdown a {
    padding: 10px;
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
}

.nav-logout:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nav-user-dropdown:hover .dropdown { display: block }
