.main-title {
    color: white;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 30px;
font-family: 'Open Sans', sans-serif;
}

.main-description-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 650px;
    left: 4%;
    top: 22%;
}

.main-description {
    color: white;  
    font-size: 18px;
    width: 80%;
    font-family: 'Duru Sans', sans-serif;
}

.main-vid {
    position: absolute;
    width: 100%;
}

.main-vid video {
    object-fit: cover;
}

.main-div > video {
    object-fit: 100%;
}

.main-index-splash {
    position: absolute;
    width: 100%;
    height: 38%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(14, 14, 14, 1) 90%);
    background-size: cover;
}

.main-index-splash::after{
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(14, 14, 14, 1) 90%);
    content: "";
    width: 100%;
    height: 200px;
    z-index: 0;
}


.mute-button {
    color: white; 
    position: absolute; 
    font-size: 35px;
    bottom: 25%; 
    right: 190px;
    padding: 5px 7px; 
    border-radius: 100%; 
    background-color: rgba($color: #141414, $alpha: 0.4);
}

.main-rating {
    position: absolute;
    color: white; 
    background-color: rgba($color: #141414, $alpha: 0.4);
    border-radius: 2px;
    font-size: 25px;
    padding: 10px 100px 10px 30px;
    bottom: 25%;
    right: 0;
}

.main-play-button {
    text-decoration: none; 
    width: 60px;
    margin: 30px 0px;
    color: white;
    font-size: 25px;
    background-color: rgba($color: #141414, $alpha: 0.4);
    padding: 10px 50px 10px 30px;
    border-radius: 4px;
}

.main-play-button:hover { 
    color: black;
    background-color: white; 

}
