.signin-link {
    position: absolute;
    color: white;
    background-color: #E50914;
    padding: 10px 20px;
    border: #E50914;
    border-radius: 3px;
    text-decoration: none;
    right: 3%;
    top: 2%;
}

.greeting-nav {
    display: flex;
}

.header-logo{
    background-image: url("https://fontmeme.com/permalink/190502/a1f8e1379d4d8d9fa20068c6d47664bc.png") 10px 10px no-repeat;
    position: absolute;
    left: 3%;
    top: 2%;
}

.greeting-offer {
    color: white;
    display: flex;
    justify-content: center;
    top: 30%;
}