.splash-background {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/0649986d-7b39-4efc-a160-9fa5f49090ce/4cd4126d-b657-4d9f-9ca6-8da32b554e79/US-en-20190429-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-background:after{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    opacity: .5 ;
    z-index: -1;
}

.session-form-container {
    position: absolute;
    background: rgba(7,7,7, 0.8);
    color:white;
    padding: 20px;
}

.session-form {
    color: black;
    text-align: center;
    padding: 30px 50px 300px 50px;
}

.session-submit {
    background-color: #E50914;
    border: #E50914;
    color: white;
    height: 50px;
    width: 300px;
    margin-top: 10px;
    border-radius: 3px;
    font-size: 16px;

}

.session-form-title {
    font-size: 30px;
    font-weight: bold;
    color: white;
    float: left;
    margin-bottom: 30px;
}

.session-form-input {
    background-color: #333333;
    box-sizing: border-box;
    border-radius: 5px;
    height: 30px; 
    width: 300px;
    font-size: 15px;
    padding: 25px;
    border: 0;
}

.session-form-footer {
    margin: 20px 35px;
    color: grey;
    font-size: 18px;
}

.session-signup-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.session-form-errors {
    color: orange;
    padding-bottom: 10px;
    font-weight: 100;
    margin-bottom: 10px;
    margin-top: -5px;
}